{% extends '_base.html.twig' %}

{% block css %}
    <style>
        .projects__table td{
            margin: 3px;
            border-bottom: 1px solid #888888;
            height: 40px;
        }

        .year {
            width: 50px;
            text-align: center;
        }

        .vendor {
            width: 250px;
            text-align: left;
        }

        .country {
            width: 50px;
            text-align: center;
        }

        .number {
            width: 30px;
            text-align: center;
        }

        .type {
            text-align: left;
        }

        .work {
            width: 50px;
            text-align: center;
        }

        .finished {
            background-color: rgba(150, 255, 150, 0.27);
        }
    </style>

{% endblock %}

{% block javascript %}
{% endblock %}

{% block title %}  {{ title }}  {% endblock %}

{% block content %}

    <div class="section__title">Проекты, выполненные ПКБ "Петробалт"</div>

    Рабочая конструкторская документация (РКД)
    плазово - технологическая документация (ПТД)
    приемо-сдаточная документация (ПСД)
    эксплуатационная документация (ЭД)

    <table class="projects__table">
        <tr>
            <th class="year">Год
            </td>
            <th class="vendor">Заказчик проекта
            </td>
            <th class="country">Страна
            </td>
            <th class="number">№
            </td>
            <th class="type">Тип судна
            </td>
            <th class="work">Вид выполненных работ
            </td>
            {#<th class="finished">В полном объеме- *</td>#}
        </tr>
        {% for project in projects %}
            <tr class="{% if("*"==project[6]) %}  {% endif %}">
                <td class="year">{{ project[0] }}</td>
                <td class="vendor">{{ project[1] }}</td>
                <td class="country">{{ project[2] }}</td>
                <td class="number">{{ project[3] }}</td>
                <td class="type">{{ project[4] }}</td>
                <td class="work">{{ project[5] }}
                    {#{%   if ('ed' in project[5]) %}  <img src="img/projects/ed.png" alt="ed"> {% endif %}#}
                    {#{%   if ('psd' in project[5]) %} <img src="img/projects/psd.png" alt="psd"> {% endif %}#}
                    {#{%   if ('ptd' in project[5]) %} <img src="img/projects/ptd.png" alt="ptd"> {% endif %}#}
                    {#{%   if ('rkd' in project[5]) %} <img src="img/projects/rkd.png" alt="rkd"> {% endif %}#}
                    {#{%   if ('td' in project[5]) %}  <img src="img/projects/td.png" alt="td"> {% endif %}#}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}